@model CreativeCollab.Models.AgentsAndPropertiesViewModel
@{

    ViewBag.Title = "index";
}
<style>
    /* GENERAL */
    .Task_container {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
        flex-wrap: wrap;
    }

    .btn_add {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 10em;
        height: 2em;
    }

    .display_flex {
        display: flex;
    }

    .display_none {
        display: none;
    }

    /* PROPERTY */
    .Task_Property_Container {
        background: rgba(0, 0, 0, 0.55);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.2px);
        -webkit-backdrop-filter: blur(12.2px);
        border: 1px solid rgba(0, 0, 0, 0.59);
        -webkit-backdrop-filter: blur(5.3px);
        flex-basis: calc(50% - 2em );
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        gap: 1.5em;
        border: 2px solid black;
        padding: 2em;
    }
    
    .Task_Property_Container form {
        display: block;
        text-align: right;
        margin-left: 1em;
        margin-top: 1em;
        margin-bottom: 1em;

    }
    
    .Task_Property_Container input[type="text"] {
        width: 300px;
        border: 3px solid black;

    }
    
    .Task_Property_Container input[type="submit"] {
        margin-left: 1em;
        padding: 3px 10px;
        border-radius: 15px;
    }

    .property_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px dotted black;
        padding-bottom: 5px;
    }

    .property_address {
        font-size: 1.2em;
        font-family: bold;
    }

    .property_btn a {
        padding: 5px;
        font-size: 1.1em;
        font-weight: 600;
        border: 2px solid black;
        margin-left: 5px;
        border-radius: 15px;
        cursor: pointer;
    }

    /* AGENT */
    .Task_Agent_Container {
        background: rgba(0, 0, 0, 0.55);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.2px);
        -webkit-backdrop-filter: blur(12.2px);
        border: 1px solid rgba(0, 0, 0, 0.59);
        -webkit-backdrop-filter: blur(5.3px);
        position: relative;
        flex-basis: calc(50% - 2em );
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: 2px solid black;
        gap: 1.5em;
        padding: 2em;
    }

        .Task_Agent_Container input[type="text"] {
            width: 300px;
            border: 3px solid black;
        }

        .Task_Agent_Container form {
            display: block;
            text-align: right;
            margin-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .Task_Agent_Container input[type="text"] {
            width: 300px;
            border: 3px solid black;
        }

        .Task_Agent_Container input[type="submit"] {
            margin-left: 1em;
            padding: 3px 10px;
            border-radius: 15px;
        }

    .agent_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px dotted black;
        padding-bottom: 5px;
    }

    .agent_name {
        font-size: 1.2em;
        font-family: bold;
    }

    .agent_btn a {
        padding: 5px;
        font-size: 1.1em;
        font-weight: 600;
        border: 2px solid black;
        margin-left: 5px;
        border-radius: 15px;
        cursor: pointer;
    }

    /* RESTAURANT */
    .Task_Restaurant_Container {
        background: rgba(0, 0, 0, 0.55);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.2px);
        -webkit-backdrop-filter: blur(12.2px);
        border: 1px solid rgba(0, 0, 0, 0.59);
        -webkit-backdrop-filter: blur(5.3px);
        flex-basis: calc(50% - 2em );
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        gap: 1.5em;
        border: 2px solid black;
        padding: 2em;
    }

        .Task_Restaurant_Container form {
            display: block;
            text-align: right;
            margin-left: 1em;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .Task_Restaurant_Container input[type="text"] {
            width: 300px;
            border: 3px solid black;
        }

        .Task_Restaurant_Container input[type="submit"] {
            margin-left: 1em;
            padding: 3px 10px;
            border-radius: 15px;
        }

    .restaurant_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px dotted black;
        padding-bottom: 5px;
    }

    .restaurant_name {
        font-size: 1.2em;
        font-family: bold;
    }

    .restaurant_btn a {
        padding: 5px;
        font-size: 1.1em;
        font-weight: 600;
        border: 2px solid black;
        margin-left: 5px;
        border-radius: 15px;
        cursor: pointer;
    }

    /* Booking */
    .Task_Booking_Container {
        background: rgba(0, 0, 0, 0.55);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(12.2px);
        -webkit-backdrop-filter: blur(12.2px);
        border: 1px solid rgba(0, 0, 0, 0.59);
        -webkit-backdrop-filter: blur(5.3px);
        position: relative;
        flex-basis: calc(50% - 2em );
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        border: 2px solid black;
        gap: 1.5em;
        padding: 2em;
    }
    .Booking_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px dotted black;
        padding-bottom: 5px;
    }

    .Booking_name {
        font-size: 1.2em;
        font-family: bold;
    }

    .Booking_btn a {
        padding: 5px;
        font-size: 1.1em;
        font-weight: 600;
        border: 2px solid black;
        margin-left: 5px;
        border-radius: 15px;
        cursor: pointer;
    }
</style>
@{/*Admin With Property And Agent */}
<div class="row justify-content-center align-items-center mt-4">
    <button onclick="showContent(1)" type="button" class="btn btn-primary w-25 px-3 me-2 ">Property - Agent</button>
    <button onclick="showContent(2)" type="button" class="btn btn-warning w-25 px-3 me-2 ">Restaurant</button>
    <button onclick="showContent(3)" type="button" class="btn btn-success w-25 px-3">Booking</button>
</div>
<div class="Task_container" id="Content">
    <div id="Task_Property_Container" class="Task_Property_Container text-white ">
        <h2>Property Details:</h2> <button class="btn_add btn btn-primary"><a class="text-black fw-bold text-decoration-none" href="/Admin/AddNewProperty">Add Property</a></button>
        <form method="GET" action="/Admin">
            <input type="text" name="searchProperty" />
            <input type="submit" value="Search" />
        </form>
        @foreach (var property in Model.Properties)
        {
            <div class="property_item">
                <div class="property_address">
                    @property.PropertyAddress
                </div>
                <div class="property_btn">
                    <a class="btn btn-outline-primary me-2 px-2" href='/Admin/PropertyDetail/@property.PropertyID'>View</a><a class="btn btn-outline-primary me-2 px-3" href='/Admin/PropertyEdit/@property.PropertyID'>Edit</a><a class="btn btn-outline-primary me-2" href='/Admin/DeleteConfirm/@property.PropertyID'>Delete</a>
                </div>
            </div>
        }
        <div id="pagination_property">
            <button class="btn btn-primary px-2" onclick="previousPage_property()">Previous</button>
            <button class="btn btn-primary px-3" onclick="nextPage_property()">Next</button>
        </div>
    </div>
    <div id="Task_Agent_Container" class="Task_Agent_Container text-white ">
        <h2>Agents Details:</h2> <button class="btn_add btn btn-primary"><a class="text-black fw-bold text-decoration-none" href="/Admin/AddNewAgent">Add Agent</a></button>
        <form method="GET" action="/Admin">
            <input type="text" name="Searchproperty" />
            <input type="submit" value="Search" />
        </form>
        @foreach (var agent in Model.Agents)
        {
            <div class="agent_item">
                <div class="agent_name">
                    @agent.Name <br /> @agent.Email | @agent.Role
                </div>
                <div class="agent_btn">
                    <a class="btn btn-outline-primary me-2 px-2" href='/Admin/AgentDetail/@agent.EstateAgentId'>View</a><a class="btn btn-outline-primary me-2 px-3" href='/Admin/AgentEdit/@agent.EstateAgentId'>Edit</a><a class="btn btn-outline-primary me-2" href='/Admin/DeleteAgentConfirm/@agent.EstateAgentId'>Delete</a>
                </div>
            </div>
        }
        <div id="pagination">
            <button class="btn btn-primary px-2" onclick="previousPage()">Previous</button>
            <button class="btn btn-primary px-3" onclick="nextPage()">Next</button>
        </div>
    </div>
</div>

@{/*Admin With Resturants */}

<div class="Task_container" id="Content" style="display:none">
    <div id="Task_Restaurant_Container" class="Task_Restaurant_Container text-white ">
        <h2>Restaurant Details:</h2> <button class="btn_add btn btn-primary"><a class="text-black fw-bold text-decoration-none" href="/Restaurant/New">Add Restaurant</a></button>
        <form method="GET" action="/Admin">
            <input type="text" name="searchRestaurant" />
            <input type="submit" value="Search" />
        </form>
        @foreach (var restaurant in Model.Restaurants)
        {
            <div class="restaurant_item">
                <div class="restaurant_name">
                    @restaurant.RestaurantName
                </div>
                <div class="restaurant_btn">
                    <a class="btn btn-outline-primary me-2 px-2" href='/Restaurant/Details/@restaurant.RestaurantId'>View</a><a class="btn btn-outline-primary me-2 px-3" href='/Restaurant/Edit/@restaurant.RestaurantId'>Edit</a><a class="btn btn-outline-primary me-2" href='/Restaurant/DeleteConfirm/@restaurant.RestaurantId'>Delete</a>
                </div>
            </div>
        }
        <div id="pagination_restaurant">
            <!--needs to be edited-->
            <button class="btn btn-primary px-2" onclick="previousPage_restaurant()">Previous</button>
            <button class="btn btn-primary px-3" onclick="nextPage_restaurant()">Next</button>
        </div>
    </div>
</div>

    @{/*Admin With Booking */}
<div class="Task_Booking_Container mt-5" id="Content" style="display:none">
    <h2>Booking Detail:</h2>
   
            @foreach (var booking in Model.Bookings)
            {
                <div class="Booking_item ">
                    <div class="Booking_name text-white">
                     BookingId: @booking.BookingId |Client Frist Name: @booking.FirstName | Client Last Name : @booking.LastName | Client Phone# : @booking.Phone | Time : @booking.TimeDate
                    </div>
                    <div class="Booking_btn">
                        
                    </div>
                </div>
            }
    <div id="pagination">
        <button class="btn btn-primary px-2" onclick="previousPage_Booking()">Previous</button>
        <button class="btn btn-primary px-3" onclick="nextPage_Booking()">Next</button>
    </div>
</div>
    <script>
        var container = document.getElementById("Task_Agent_Container");
        var children = container.getElementsByClassName("agent_item");
        var itemsPerPage = 5;
        var currentPage = 1;

        function showPage(page) {
            var startIndex = (page - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;

            for (var i = 0; i < children.length; i++) {
                if (i >= startIndex && i < endIndex) {
                    children[i].style.display = "flex";
                } else {
                    children[i].style.display = "none";
                }
            }
        }

        function nextPage() {
            if (currentPage < Math.ceil(children.length / itemsPerPage)) {
                currentPage++;
                showPage(currentPage);
            }
        }

        function previousPage() {
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
        }

        showPage(currentPage);

        // Property Panigation
        var container_property = document.getElementById("Task_Property_Container");
        var children_property = container_property.getElementsByClassName("property_item");
        var itemsPerPage_property = 7;
        var currentPage_property = 1;

        function showPage_property(page) {
            var startIndex = (page - 1) * itemsPerPage_property;
            var endIndex = startIndex + itemsPerPage_property;

            for (var i = 0; i < children_property.length; i++) {
                if (i >= startIndex && i < endIndex) {
                    children_property[i].style.display = "flex";
                } else {
                    children_property[i].style.display = "none";
                }
            }
        }

        function nextPage_property() {
            if (currentPage_property < Math.ceil(children_property.length / itemsPerPage_property)) {
                currentPage_property++;
                showPage_property(currentPage_property);
            }
        }

        function previousPage_property() {
            if (currentPage_property > 1) {
                currentPage_property--;
                showPage_property(currentPage_property);
            }
        }
        showPage_property(currentPage_property);

        // pagation in booking 
        var container_property = document.getElementById("Task_Booking_Container");
        var children_property = container_property.getElementsByClassName("Booking_item");
        var itemsPerPage_property = 7;
        var currentPage_property = 1;

        function showPage_property(page) {
            var startIndex = (page - 1) * itemsPerPage_property;
            var endIndex = startIndex + itemsPerPage_property;

            for (var i = 0; i < children_property.length; i++) {
                if (i >= startIndex && i < endIndex) {
                    children_property[i].style.display = "flex";
                } else {
                    children_property[i].style.display = "none";
                }
            }
        }

        function nextPage_Booking() {
            if (currentPage_property < Math.ceil(children_property.length / itemsPerPage_property)) {
                currentPage_property++;
                showPage_property(currentPage_property);
            }
        }

        function previousPage_Booking() {
            if (currentPage_property > 1) {
                currentPage_property--;
                showPage_property(currentPage_property);
            }
        }
        showPage_Booking(currentPage_property);

        // Create showContent function () when admin choose the content they want to see.
        function showContent(content_number) {
            var contents = document.querySelectorAll("#Content");
            // close all the content by set display -> none;
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = 'none';
            }

            if (content_number) {
                content_number = content_number - 1;
                contents[content_number].style.display = 'flex';
            }
        }
    </script>

